<?xml version="1.0" encoding="UTF-8"?>
<config>
	<email>
		<smtp>
			<address>localhost</address>
			<port>25</port>
			<login></login>
			<password></password>
		</smtp>
		<from>dbSynchro@gmail.fr</from>
		<subject>Synchronisation failed</subject>
		<recipient>maxime.buisson1@gmail.com</recipient>
	</email>
	<database>
		<name>bdd1</name>
		<url>jdbc:mysql://127.0.0.1/bdd1</url>
		<login>root</login>
		<password></password>
		<driver>com.mysql.jdbc.Driver</driver>
	</database>
	<database>
		<name>bdd2</name>
		<url>jdbc:mysql://127.0.0.1/bdd2</url>
		<login>root</login>
		<password></password>
		<driver>com.mysql.jdbc.Driver</driver>
	</database>
</config>
