<?xml version="1.0" encoding="UTF-8"?>
<!--

http://www.khelll.com/blog/mysql/changing-database-encoding-from-latin-to-utf8/

-->
<config>
	<email>
		<smtp port="25">localhost</smtp>
		<from>dbSynchro@speedcrete.co.uk</from>
		<subject>Synchronisation failed</subject>
		<recipient>buisson@etud.insa-toulouse.fr</recipient>
	</email>
	<server type="source">
		<name>MS Server</name>
		<url>//localhost/test1</url>
		<login>root</login>
		<password>redcar</password>
		<driver>com.mysql.jdbc.Driver</driver>
	</server>
	<server type="target">
		<name>Linux Web Server</name>
<!-- To test the connection and rights you can run: mysql -u root -h webserver.speedcrete.co.uk -p		-->
<!--		<url>//webserver.speedcrete.co.uk/speedcrete</url>-->
		<url>//localhost/test2</url>
		<login>root</login>
		<password>redcar</password>
		<driver>com.mysql.jdbc.Driver</driver>
	</server>
</config>
